*{margin:0 auto;}
body{width:1280px;}
.wrap{margin:0 auto;}
.nav{text-align: center;
    height:140px;
    background-color: #f7f5eb;}
li{text-decoration:none;
    display:inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    color:#494949;
    margin:0.5% 3.5%;
    height:137px;
    line-height:137px;
    vertical-align: middle;
    }
.nav li:first-child{color:#f27622;;}
.border{border-bottom:dashed 1px #23a55b;}
.about{width:800px;height:700px;}
.about h2{text-align: left;padding-top:8%;}

.carrot img{float:right;}
.green{margin-top:55px;padding-right:27px;}
.potato{margin-top:-230px;}
.carrot{width:800px;}
.carrot p{line-height:1.7em;}
.about p{width:415px;float:left;font-family: lato;}
.accomp{border-bottom:dashed 1px #23a55b;height:750px;float:center;}
.accomp .left{width:40%;float:left;padding-left:50px;}
.accomp .right{width:45%;float:right;}
.accomp p{font-family: lato;width:300px;margin-top:-60px;}
.accomp li{line-height: 1.5;width:552px;height:130px;}
ul {
  list-style: none;
}
h5{color:#f27622;font-family: lato;letter-spacing: 0.7pt;font-style: italic;line-height:1;padding-bottom:20px;}
.team{height:700px;padding-left:42px;}
.meet li {line-height:2;}
.meet p{width:470px;font-family: lato;}
h2{text-align: center;margin-bottom:5%;margin-top:3%;font-family: 'Roboto Condensed', sans-serif;letter-spacing: 1px;}

.footer{height:140px;
        background-color:#f7f5eb;
        margin-top:50px;
}
.footer .box{height:140px;}
.footer img{padding-top:90px;}
.followus{width:160px;
        height:60px;
        margin-top:5.9%;
        float:right;
}
.footer p{color:#494949;
          margin-top:4%;
          font-size:10pt;   
          text-align:left;
          margin-left:45px;
          font-family: 'Roboto Condensed', sans-serif;
}
.followus img{padding-top:5px;
              margin-left:40px;}
.box{width:940px;}
.scrollup{float:right;opacity: 0.5;}