*{margin:0 auto;}


.background {
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    max-height: 100%;
}
.background1{
    background-image:url("bg1.svg");
}

.background2{
    background-image:url("bg2.svg");
    z-index:6;
}
.background3{
    background-image:url("bg3.svg");
}
.box1{
    border:10px solid white;
    height:407px; width:407px;
    box-shadow:7px 7px 10px #333333;
    position:relative; top:200px;
}

.box2{
    background-image:url(box1-2.png);
    background-position:62% 50%;
    background-repeat:no-repeat;
    min-height:373px;
    z-index:1;
}
.b{
    position:relative;
    background-color:#00006d;
}
.box3{
    width:87px; height:35px;
    margin-left:93.9%;
    top:100px;
    margin-right:0;
}
.box4{
    width:272px; height:436px;
    top:175px;
    margin-right:46%;
    box-shadow: 2px 2px 10px #333333;
    z-index:3;
}
.box5{
    width:98px; height:69px;
    margin-left:58%;
    top:106px;
}
.bl{
    position:relative;
    border:7px solid #00006d;
}
.box6{
    width:272px; height:436px;
    top:-400px;
    margin-left:25%;
    
}
.box7{
    width:85px; height:56px;
    top:-520px;
    margin-left:58%;
}
.box8{
    width:511px;height:491px;
    position:relative;
    border:7px solid #ff9d00;
    top:209px;
    margin-left:46%;
}
.wave{
    background-repeat:no-repeat;
    background-size: 40%;
    position: relative;
}
.wave1{
    background-image:url(wave1.png);
    margin-left: 73%;
    background-position: 5% 100%;
    min-height: 78px;
    top: -133px;
}
.wave2{
    background-image:url(wave2.png);
    min-height: 222px;
    top: -212px;
    margin-left: 37%
}
.ntwo{
    background-image:url(dots.png);
    background-repeat:no-repeat;
    height:800px;
    z-index:10;
}

@media only screen and (min-width:204px) {
   .background1{
       background-image: url(phone-11.svg);
       min-height:410px;
    }
    .box3{margin-left:10%;}
}
